.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  margin-bottom: 30px;
  min-height: 400px;
}

.footer {
  background-color: #757575;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #757575;
  color: floralwhite;
}
.content-row {
  margin-left: 2px;
}
.address {
  font-size: 80%;
  margin: 0px;
  color: #0F0F0F;
}
